/*****************************************************************************/
.Toolbar23 {
    background: #aaa;
    padding: 5px;
    width: 50%;
    height: auto;
}
/*****************************************************************************/